<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <session-config>
        <session-timeout>
           240

        </session-timeout>
    </session-config>

    
 
     
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <!--<param-value>Development</param-value>-->
        <param-value>Production</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <context-param>
        <param-name>jakarta.faces.ENABLE_CDI_RESOLVER_CHAIN</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param> 
    <!--    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>-->
    
    <!--
    Block
    -->
    <welcome-file-list>
        <welcome-file>home.xhtml</welcome-file>
   
    </welcome-file-list>


    
    <context-param>
        <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    
    
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{app.theme}</param-value>
    </context-param>
     
     
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
   
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot?#iefix</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exosemibold</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exobolditalic</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exomedium</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#exoregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg#fontawesomeregular</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <!--
    Subir Archivos
    
    -->
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>native</param-value>
    </context-param>
    
    
    <!--
    
        Seguridad    
    -->
    
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Developers pages</web-resource-name>
            <url-pattern>/application/*</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <role-name>DEVELOPERS</role-name>
            
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Pages</web-resource-name>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>COLABORADOR</role-name>
   
            <role-name>COORDINADOR-FACULTAD</role-name>
            <role-name>DEVELOPERS</role-name>
            <role-name>DIRECTOR</role-name>
            <role-name>JEFE-UNIDAD</role-name>
                     <role-name>SECRETARIA</role-name>
            <role-name>SUBDIRECTOR-ADMINISTRATIVO</role-name>
            <role-name>SUBDIRECTOR-INVESTIGACION</role-name>
            <role-name>SUBDIRECTOR-VIDA-UNIVERSITARIA</role-name>           
            <role-name>SUPER-USER</role-name>           
     
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Autoridad pages</web-resource-name>
            <url-pattern>/autoridad/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>DIRECTOR</role-name>
            <role-name>SUBDIRECTOR-ADMINISTRATIVO</role-name>
            <role-name>SUBDIRECTOR-INVESTIGACION</role-name>
            <role-name>SUBDIRECTOR-VIDA-UNIVERSITARIA</role-name>           
            <role-name>DEVELOPERS</role-name>
            <role-name>SUPER-USER</role-name> 
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Colaborador Pages</web-resource-name>
            <url-pattern>/colaborador/*</url-pattern>
            <!--            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>-->
        </web-resource-collection>
        <auth-constraint>
            <!--<role-name>COLABORADOR</role-name>-->
            <role-name>DEVELOPERS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JefeUnidad Pages</web-resource-name>
            <url-pattern>/jefeunidad/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
                     <role-name>SECRETARIA</role-name>
            <role-name>JEFE-UNIDAD</role-name>
            <role-name>COORDINADOR-FACULTAD</role-name>
            <role-name>DEVELOPERS</role-name>
            <role-name>SUPER-USER</role-name> 
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public pages</web-resource-name>
            <url-pattern>/login.xhtml</url-pattern>
            <url-pattern>/form.xhtml</url-pattern>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/home.xhtml</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <security-role>
        <role-name>AUTORIDAD</role-name>
    </security-role>
    <security-role>
        <role-name>COORDINADOR-FACULTAD</role-name>
    </security-role>
    <security-role>
        <role-name>COLABORADOR</role-name>
    </security-role>
    <security-role>
        <role-name>DEVELOPERS</role-name>
    </security-role>
    <security-role>
        <role-name>DIRECTOR</role-name>
    </security-role>
    <security-role>
        <role-name>JEFE-UNIDAD</role-name>
    </security-role>
    <security-role>
        <role-name>SECRETARIA</role-name>
    </security-role>

   
    <security-role>
        <role-name>SUBDIRECTOR-ADMINISTRATIVO</role-name>
    </security-role>
    <security-role>
        <role-name>SUBDIRECTOR-INVESTIGACION</role-name>
    </security-role>
    <security-role>
        <role-name>SUBDIRECTOR-VIDA-UNIVERSITARIA</role-name>
    </security-role>
    <security-role>
        <role-name>SUPER-USER</role-name>
    </security-role>
    
    
    
    <error-page>
        <error-code>404</error-code>
        <location>/pagenotfound.xhtml</location>
    </error-page>

   
    <error-page>
        <error-code>403</error-code>
        <location>/page-403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/page-405.xhtml</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/page-500.xhtml</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error.xhtml</location>
    </error-page>

    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/error/expired.xhtml</location>
        <!--<location>/faces/home.xhtml</location>-->
    </error-page>


    <listener>

        <listener-class>

            com.nerys.configuration.sessionexpired.SecuritySessionListener

        </listener-class>

    </listener>
    <!--
        <context-param>
        <param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>-->
</web-app>
